name: Deploy Backend

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_cicd
          chmod 600 ~/.ssh/id_cicd


      - name: Test SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_cicd ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "echo Connected!"


      - name: Sync source to server
        run: |
          rsync -avz \
            -e "ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_cicd" \
            ./ \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/home/deploy/signalist/backend/

      - name: Build Docker on server
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_cicd ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd /home/deploy/signalist
            docker compose build backend
            docker compose up -d backend
            docker restart signalist-nginx
          EOF

